.card{
    padding: 16px;
    background: #FFFFFF;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: auto;
}

.appo{
    width: 100%;
}

.news-card{
    padding: 0px;    
}

.jumbotron{
    padding: 0;
}

.poli{
    width: 62px;
}